body {
    h1 {
        padding: 0 0 32px 0;
        margin: 0;
        @include font-format($font-family, $font-semibold, normal);
    }
    h2 {
        padding: 24px 0 32px 0;
        @include font-format($font-family, $font-semibold, normal);
        margin: 0;
        
        &:first-of-type {
           padding: 32px 0 32px 0; 
        }
    }
    h3 {
        padding: 16px 0 32px 0;
        margin: 0;
        @include font-format($font-family, $font-semibold, normal);
    }
    p {
        font-size: 1rem;
        padding: 0 0 32px 0;
        margin: 0;
        @include font-format($font-family, $font-regular, normal);
    }
    a {
        @include font-format($font-family, $font-semibold, normal);
        text-decoration: none;
        border-bottom: rgb(116, 143, 184) solid 2px;
        
        &:visited {
            color: $purple-dark;
            border-bottom: $purple-light solid 2px;
        }
        &:hover {
            text-decoration: none;
            box-shadow: $grey-light 0px -20px 0px 0px inset;
        }
        &:active {
            color: $black;
        }
    }
    
}

.brand-container-wrapper {
    background: $blue-primary;
    width: 100%;
    height: 150px;
    padding: 45px 0 0 0;
    
    img {
        height: 60px;
        width: auto;
    }
    svg {
        height: 60px;
        width: auto;
    }
}

.header-wrapper {
    background: $red-negative-lightest;
    width: 100%;
    padding: 64px 0 64px 0;
    border-top: 2px solid $red-negative-light;
    
    h1 {
        padding: 0 0 0 96px;
        background: url('../assets/warning-icon-red.svg') no-repeat;
        background-position: top 12px left;
        min-height: 86px;
        
    }
    p.lead {
        font-size: 1.2rem;
        padding: 32px 0 0 0;
        @include font-format($font-family, $font-semibold, normal);
    }
    
    &.error-page {
        background: $white;
        border-top: none;
        padding: 64px 0 48px 0;
        
        .alert-icon {
            position: absolute;
        }
        h1 {
            background: none;
            
        }
    }
}

.main-section {
    .callout-container {
        background: $grey-lighter;
        padding: 32px;
        width: 100%;
        border-top: 4px solid $grey-light;
        margin: 0 0 32px 0;
        
        h3:first-of-type {
            padding: 0 0 32px 0;
        }
        
        p {
            display: inline-block;
            width: 100%;
            
            &:last-of-type {
                padding: 0;
            }
            
            &.contact-details {
                padding: 0 0 0 28px;
                margin: 0 0 16px 0;
                
                &:last-of-type {
                    margin: 0; 
                } 
            }
            &.phone {
                background: url('../assets/phone-blue.svg') no-repeat;
                background-position: center left;
            }
            &.time {
                background: url('../assets/clock-blue.svg') no-repeat;
                background-position: center left;
            }
        }
        a {
            white-space: nowrap;
        }
    }
}

@media (max-width: 767px) {
    
    .container {
        padding: 0 32px;
    }
    body {
        h1 {
            font-size: 2rem;
            padding: 32px 0;
            line-height: 2.6rem;
        }
    }
    .brand-container-wrapper {
        height: auto;
        padding: 24px 0;
        
        img {
            height: 40px; 
            width: auto;
        }
        svg {
            height: 40px;
            width: auto;
        }
    }
    .header-wrapper {
        padding: 32px 0;
        
        h1 {
            padding: 0 0 0 72px;
            background-size: 56px 56px;
            background-position: top 6px left;
        }
        p.lead {
            font-size: 1rem;
        }
        
    }
    .error-page {
        .alert-icon svg {
            height: 52px;
            width: 52px;
        }
    }
}

@media (max-width: 575px) {
    
   .header-wrapper {
       h1 {
           padding: 58px 0 0 0;
           background-size: 48px 48px;
           background-position: top left;
           
           
       }
    }
}